@mixin background{
    background-color: black;
}
/// mixin pt header footer si toate barile de titlu
@mixin backgroundImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin h2TS {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}



@mixin h1T  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
}
 
@mixin p {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
@mixin pRelax{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgba(5, 102, 141, 1);
}


@mixin buttonStd {
    background-color: #05668D;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border:none;
    color: #F0F3BD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/// mixin pentru sectia benefici 
@mixin textCategori {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
}

@mixin textNormal {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}
@mixin textNormalComent {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #fff;
    
}

@mixin grup_text {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;


text-align: center;
}

@mixin padding30margin0 {
    padding: 30px 0 0 0;
    margin: 0;
}
@mixin paddingT20Margin0 {
    margin: 0;
    padding-top:20px;
}
/// mixin reutilizabile universabile si editabile
@mixin flexCenterRowCenter($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

