 @import "./mixin.scss";
 #alegeCam {
            height: auto;
            width: 100%;
            background: rgba(2, 128, 144, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;

            h2 {
                @include h2TS;
                @include padding30margin0;
                color: #F0F3BD;
            }

            >img {
                margin-top: 20px;
            }

            .camGallery {
                width: 90%;
                overflow: hidden;
                h1{
                    @include textCategori;
                    @include padding30margin0;
                }
                p{
                    @include h2TS;
                    @include padding30margin0;
                    color: #F0F3BD;
                }



                .camParGall {
                    margin: 50px auto 10px auto;
                    width: 60%;
                    aspect-ratio: 16/9;
                    position: relative;
                    overflow: hidden;
                    .slides{
                        display: flex;
                        height: 100%;
                        
                        figure {
                            background: no-repeat center/cover url('/img/camPar1-4.jpg'); 
                            margin: 0;
                            min-width: 100%;
                            position: relative;
                        }
                        figure:nth-child(2){
                           background: no-repeat center/cover url('/img/camPar1-4.jpg');
                        }
                        figure:nth-child(3){
                           background: no-repeat center/cover url('/img/camPar2-4.jpg');
                        }
                        figure:nth-child(4){
                           background: no-repeat center/cover url('/img/camPar3-4.jpg');
                        }
                        figure:nth-child(5){
                           background: no-repeat center/cover url('/img/camPar4-4.jpg');
                        }
                        #last-clone {
                            background: no-repeat center/cover url('/img/camPar4-4.jpg');
                        }
                        #first-clone {
                            background: no-repeat center/cover url('/img/camPar1-4.jpg');
                        }
                    }   
                    .slide_controles {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        #next-btn, #prev-btn {
                            cursor: pointer;
                            background: transparent;
                            font-size: 30px;
                            border: none;
                            padding: 10px;
                            color: white;
                        }
                        #next-btn:focus,#prev-btn:focus {
                        outline: none;
                        }
                    }
                }





                .gall3img {
                        margin: 0 auto;
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                    figure {
                        background: no-repeat center/cover url('/img/camPar1-4.jpg');    
                        height: auto;
                        aspect-ratio: 16/9;
                        width: 100%;
                        margin: 10px 5px 10px 5px;
                    }
                    figure:nth-child(2) {
                        background: no-repeat center/cover url('/img/camPar2-4.jpg');
                    }
                    figure:nth-child(3) {
                        background: no-repeat center/cover url('/img/camPar3-4.jpg');
                    }
                    figure:nth-child(4) {
                        background: no-repeat center/cover url('/img/camPar4-4.jpg');
                        margin-right: 0px;
                    }
                    figure:first-child {
                        margin-left: 0px;
                    }
                    

                }
            } 


            
            .camGallery1 {
                margin-top: 50px;
                .camParGall {
                    background:no-repeat center/cover url('/img/camAp1-5.png') ;
                }
                .gall3img {
                    figure {
                        background:no-repeat center/cover url('/img/camAp2-5.png');
                    }
                    figure:nth-child(2) {
                        background:no-repeat center/cover url('/img/camAp3-5.png');
                    }
                    figure:nth-child(3) {
                        background:no-repeat center/cover url('/img/camAp4-5.png');
                    }
                    figure:nth-child(4) {
                        background:no-repeat center/cover url('/img/camAp5-5.png');
                    }  
                }
            }
            .camGallery2 {
                margin-top: 50px;
                .camParGall {
                    background:no-repeat center/cover url('/img/Ext1-5.jpg') ;
                }
                .gall3img {
                    figure {
                        background:no-repeat center/cover url('/img/Ext2-5.png');
                    }
                    figure:nth-child(2) {
                        background:no-repeat center/cover url('/img/Ext3-5.png');
                    }
                    figure:nth-child(3) {
                        background:no-repeat center/cover url('/img/Ex4-5.png');
                    }
                    figure:nth-child(4) {
                        background:no-repeat center/cover url('/img/Ex5-5.png');
                    }  
                    figure:nth-child(5) {
                        background:no-repeat center/cover url('/img/Ex6-5.png');
                    } 
                    }
                }
        }
 ///////////////////////////////////////////
 /// 
 /// overlay styling
 .overlay {
    display: none;
    background-color: #000000cb;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    figure {
         background: no-repeat center/cover url('/img/camPar1-4.jpg');  ;
        top: 10%;
        left: 6%;
        margin: auto;
        width: 85%;
        height: auto;
        aspect-ratio: 16/9;
        z-index: 1;
        position: absolute;
    }
 }

 .hide {
    display: block;
 }