@import "./mixin.scss";


@media screen and (min-width: 0px){
    body {
        .header-title {
                    height: 300px;
                    background: no-repeat center/cover url('/img/backgServicii.png');
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h1 {
                        @include h1T;
                        color: #F0F3BD;
                    }
                }
        //background-color: black;
        // css hedear section
            header{
                width: 100%;
                background-image: url("/img/backgroundImg.png");
                @include backgroundImg;
                margin: 0;
                box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
                max-height: 255px;

                #hd_container {
                    display:flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    figure { 
                        
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                #listLinkLogo {
                    position: absolute;
                    padding: 15px 0 0 280px;
                    a {
                    display:flex;
                    flex-direction: column;
                    margin-bottom:25px;
                    }
                    img {
                    max-width: 43px;
                    height: auto;
                    }
                }
            }
            // css section prezentareGenerala_1
            #prezentareGenerala_1 {
                width: 100%;
                height: 1063.78px;
                background-image: url("/img/backgroundImg.png");
                @include backgroundImg;
                margin: 0;
                box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
                align-items: center;
                display: flex;
                flex-direction: column;
                h2 {
                    @include h2TS;
                    margin: 0;
                    padding-top: 100px;
                }
                h1 {
                    @include h1T;
                    width: 300px;
                    margin:0;
                    padding-top: 25px;
                }
                //// aici a selectat prima imagine di
                >img {
                    margin: 24px 0 24px 0;
                }
                p {
                    @include p;
                    width: 300px;
                    margin: 0;
                    padding-bottom: 25px;
                }
 
                #prezGenBtn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 15px;

                    button {
                        @include buttonStd;
                        @include flexCenterRowCenter(row);
                        img {
                            padding-right: 10px;
                        }
                    }
                    #locationButton {
                            width: 125px;
                        }
                }
            }
            //css section beneficiiX3
            #beneficiiX3 {
                .beneficii {
                    height: 350px;
                    background: rgba(2, 128, 144, 1);
                    margin-top: 30px;
                    @include flexCenterRowCenter(column);
                    img {
                        max-width:66px;
                        max-height: 66px;
                        @include padding30margin0;
                    }
                    h1 {
                        width: 300px;
                        @include textCategori;
                        @include padding30margin0;
                    }
                    p {
                        padding: 30px 0 0 0;
                        width: 300px;
                        @include textNormal;
                        @include padding30margin0;
                    }
                }
            }
            //  section RelaxeazăTe 
            #RelaxeazăTe {
                @include flexCenterRowCenter(column);
                height: 837px;
                color: rgba(5, 102, 141, 1);
                h2 {
                    @include h2TS;
                    color: rgba(5, 102, 141, 1);
                    @include paddingT20Margin0;
                 }
                h1 {
                    @include h1T; 
                    color: rgba(5, 102, 141, 1);
                    @include paddingT20Margin0;
                }
                p {
                    @include pRelax;
                    width: 350px;
                    @include paddingT20Margin0;
                }
                button {
                    @include buttonStd;
                    width: 155px;
                    margin-top: 20px;
                }
                iframe {
                    height: 225px;
                    width: 100%;
                    margin-top: 55px;
                }
            }
            // section alege camera 
                      // section alege camera 
            #alegeCam {
                height: 2500px;
                width: 100%;
                background: rgba(2, 128, 144, 1);
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-family: 'Lora';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    letter-spacing: 0.3em;
                    color: #F0F3BD;
                    @include padding30margin0;
                }

                >img {
                    margin-top: 20px;
                }

                .camGallery {
                    h1{
                        @include textCategori;
                        @include padding30margin0;
                    }
                    p{
                        @include h2TS;
                        @include padding30margin0;
                    }
                    .camParGall {
                        background: no-repeat center/cover url('/img/camPar1-4.png'); 
                        height: 510px;
                        margin: 30px 10px 0 10px;
                        figure {
                            display: flex;
                            justify-content: space-between;
                            padding-top: 250px;
                            margin: 0px 10px;
                        }
                    }
                    .gall3img {
                             margin: 0 10px;
                            display: flex;
                            justify-content: space-between;
                        figure {
                              background: no-repeat center/cover url('/img/camPar2-4.png');
                              
                              height: 50px;
                              width: 100%;
                              margin: 10px 5px 10px 5px;
                        }
                        figure:nth-child(2) {
                            background: url('/img/camPar3-4.png');
                        }
                        figure:nth-child(3) {
                            background: url('/img/camPar4-4.png');
                        }
                    }
                } 
                .camGallery1 {
                    margin-top: 50px;
                    .camParGall {
                        background:no-repeat center/cover url('/img/camAp1-5.png') ;
                    }
                    .gall3img {
                        figure {
                            background:no-repeat center/cover url('/img/camAp2-5.png');
                            height: 38px;
                        }
                        figure:nth-child(2) {
                            background:no-repeat center/cover url('/img/camAp3-5.png');
                        }
                        figure:nth-child(3) {
                            background:no-repeat center/cover url('/img/camAp4-5.png');
                        }
                        figure:nth-child(4) {
                            background:no-repeat center/cover url('/img/camAp5-5.png');
                        }  
                    }
                }
                .camGallery2 {
                    margin-top: 50px;
                    .camParGall {
                        background:no-repeat center/cover url('/img/Ext1-5.jpg') ;
                    }
                    .gall3img {
                        figure {
                            background:no-repeat center/cover url('/img/Ext2-5.png');
                            height: 38px;
                        }
                        figure:nth-child(2) {
                            background:no-repeat center/cover url('/img/Ext3-5.png');
                        }
                        figure:nth-child(3) {
                            background:no-repeat center/cover url('/img/Ex4-5.png');
                        }
                        figure:nth-child(4) {
                            background:no-repeat center/cover url('/img/Ex5-5.png');
                        }  
                        figure:nth-child(5) {
                            background:no-repeat center/cover url('/img/Ex6-5.png');
                        } 
                    }
                }
            }
            // section servicii
            #servicii {
                background: rgba(238, 238, 238, 1);
                // .header-title {
                //     height: 300px;
                //     background: no-repeat center/cover url('/img/backgServicii.png');
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     h1 {
                //         @include h1T;
                //         color: #F0F3BD;
                //     }
                // }
                #servicii-hd {
                    width: 350px;
                    margin: auto;
                    
                    h5 {
                      @include h2TS;
                      color:rgba(5, 102, 141, 1);
                      margin: 50px 0 15px 0;
                    }
                    >img {
                        margin:0px;
                    }
                    h1 {
                        @include textCategori;
                        color:rgba(5, 102, 141, 1);
                        margin: 15px 10px 30px 10px;
                    }
                    p {
                       @include textNormal;
                       color:rgba(5, 102, 141, 1);
                       margin: 0 10px 50px 10px;
                    }
                }
                .servicii-container {
                    width: 330px;
                    height: 250px;
                    margin: 0 auto 50px auto;
                    
                    img {
                        display: block;
                        margin:auto;
                    }

                    h1 {
                        @include textCategori;
                        margin: 25px auto;
                        color:rgba(5, 102, 141, 1);
                    }
                    p {
                        @include textNormal;
                        color:rgba(5, 102, 141, 1);
                    }
                }
                .servicii-container:last-child {
                    height: 300px;
                    padding-bottom: 50px;
                    margin-bottom: 0px;
                }
            }
            // section atracti
            #atracti {
                .container_atractii {
                    margin: 0 auto 50px auto;

                    .img_atracti_container {
                        background: no-repeat center/cover url('/img/atracti_acasa.png');
                        height: 500px;
                        max-width: 390px;
                    }
                    .prieteni {
                        background: no-repeat center/cover url('/img/atracti_prieteni.png');
                    }
                    .salina {
                        background: no-repeat center/cover url('/img/atracti_salina.png');
                    } 
                    div {
                        height: 513px;
                        background: #EEEEEE;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h1 {
                            padding-top: 40px;
                            margin: 0 auto;
                            @include textCategori;
                            color: rgba(5, 102, 141, 1);
                        }
                        img {
                            margin: 20px 0;
                        }
                        p {
                            width: 310px;
                            @include grup_text;
                            color: rgba(5, 102, 141, 1);
                        }
                        button { 
                            @include buttonStd;
                            width: 173px;
                            height: 43px;
                            color: rgba(5, 102, 141, 1);
                            border: 2px solid #05668D;
                            background: #EEEEEE;
                        }
                        button:hover {
                            background: rgba(5, 102, 141, 1);
                            color: #EEEEEE;
                        }
                    }
                   
                }
                 .container_atractii:last-child {
                        margin: 0;
                     }
            } 
            // section review
            #reviewCount {
                height: 1250px;
                background: rgba(238, 238, 238, 1);
                margin: 0;
                padding-top: 50px;
                .reviewCount_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h1 { 
                    font-family: 'Monotype Corsiva';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 96px;
                    line-height: 108px;
                    color: #05668D;
                    margin: 20px 0 0 0;
                }
                p {
                    @include grup_text;
                    color: #05668D;
                    margin: 0;
                }

                .camGallery {
                    margin: 100px 0 ;
                    h1{
                        @include h1T;
                        color: rgba(5, 102, 141, 1);
                    }
                   
                    .camParGall {
                        background: no-repeat center/cover url('/img/gall_1_5.png'); 
                        height: 510px;
                        margin: 30px 10px 0 10px;
                        figure {
                            display: flex;
                            justify-content: space-between;
                            padding-top: 250px;
                            margin: 0px 10px;
                        }
                    }
                    .gall3img {
                            margin: 0 10px;
                            display: flex;
                            justify-content: space-between;
                        figure {
                              background: no-repeat center/cover url('/img/gall_2_5.png');                          
                              height: 35px;
                              width: 100%;
                              margin: 10px 5px 10px 5px;
                        }
                        figure:nth-child(2) {
                            background: no-repeat center/cover url('/img/gall_3_5.png')
                        }
                        figure:nth-child(3) {
                            background: no-repeat center/cover url('/img/gall_4_5.png')
                        }
                        figure:nth-child(4) {
                            background: no-repeat center/cover url('/img/gall_5_5.png')
                        }figure:nth-child(5) {
                            background: no-repeat center/cover url('/img/gall_6_5.png')
                        }
                    }
                } 


            }
            #ceSpunClienti {
                .booking_review {
                    max-width: 350px;
                    height: 200px;
                    margin: 70px auto 0 auto;
                    background: rgba(2, 128, 144, 1);
                    border-radius: 4px;
                }
                .test img:nth-child(1) {
                    grid-area: logoInitial;
                    width: auto;
                    margin: auto;
                }
                .test h1 {
                    grid-area: cliName;
                    @include  h2TS;
                    text-align: left;
                    width: auto;
                    margin: auto auto 0 0;

                }
                .test h2 {
                    grid-area: date;
                    margin: 0;
                    @include  textNormalComent;
                    text-align: left;
                }
                .test img:nth-child(4) {
                    grid-area: logoBooking;
                    width: auto;
                    margin: 0 0 auto auto;
                    
                }
                 .test img:nth-child(5) {
                    grid-area: nota;
                    width: auto;
                    margin: auto 0 auto auto;
                    
                }
                 .test img:nth-child(6) {
                    grid-area: verifide;
                    width: auto;
                    margin: auto auto auto 0;
                }
                 .test p {
                    grid-area: coments;
                    margin: 0;
                    @include textNormalComent;

                }
                .test {
                    display: grid;
                    grid-gap: 5px;
                    padding: 10px;
                    grid-template-areas:
                    'logoInitial cliName cliName cliName logoBooking'
                    'logoInitial date date date logoBooking'
                    'nota verifide verifide verifide verifide'
                    'coments coments coments coments coments'
                    'coments coments coments coments coments'
                    'coments coments coments coments coments'
                    'coments coments coments coments coments'
                    'coments coments coments coments coments'
                    'coments coments coments coments coments';
                }
                .bulina_review_selected {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    .bulina {
                        width: 10px;
                        height: 10px;
                        border-radius:100%;
                        margin: 5px;
                        background-color: rgba(5, 102, 141, 1);
                    }
                    .bulina:hover {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            // sectiunea Contacteazane
            #contactează-ne {
                margin-top: 100px;
                .header-title {
                background: no-repeat center/cover url('/img/background_ce_spun_clienti.png');
                }
                .contact_container {
                    height: 900px;
                    background: #028090;
                    display: flex;
                    flex-direction: column;
                    div {
                        padding-top: 40px;
                        margin: auto;
                        max-height: 280px;
                        img {
                            margin: auto;
                            display: block;
                        }

                        h2 {
                            @include textCategori;
                        }

                        p {
                            @include h2TS;
                            color: #F0F3BD;
                        }
                    }
                }

            }
            #map_question {
                margin-top: 50px;
                h1 {
                    @include h1T;
                    color: rgba(5, 102, 141, 1);
                }
                h2 {
                    @include h2TS;
                    color: rgba(5, 102, 141, 1);
                }

                iframe {
                    width: 370px; 
                    height: 522px;
                }
            }
    }         
}
        


@media screen and (min-width: 390px){
    body{
        background-color:green;
    }
    
}
 