@import "./mixin.scss";


@media screen and (min-width: 0px) {
    body {
///////////////////////////////////////////////////////
///////////   MODIFICARI GENERALE /////////////////////
        .header-title {
            height: 300px;
            background: no-repeat center/cover url('/img/backgServicii.png');
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                @include h1T;
                color: #F0F3BD;
            }
        }
//////////////////////////////////////////
///////////   HEDEAR /////////////////////
        header { 
            background-image: url("/img/backgroundImg.png");
            @include backgroundImg;
            box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
            .hd_container {
                display:flex;
                justify-content: center;
                align-items: center;
                
                figure { 
                    margin: 0;
                    width: 221px;
                    padding: 15px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                >div {
                    display: none;
                }
                .listLinkLogo {
                display:flex;
                flex-direction: column;
                a { 
                    margin: 10px;
                }
                img {
                    min-width: 30px;
                    max-width: 43px;
                    height: auto;
                    width: 100%;
                }
            }       
            }
            
        }       
///////////////////////////////////////////////////////
///////////  SECTION prezentareGenerala_1 /////////////
        #prezentareGenerala_1 {
            width: 100%;
            height: auto;
            background-image: url("/img/backgroundImg.png");
            @include backgroundImg;
            margin: 0;
            box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
            align-items: center;
            display: flex;
            flex-direction: column;
            h2 {
                @include h2TS;
                margin: 0;
                padding-top: 100px;
            }
            h1 {
                @include h1T;
                max-width: 700px;
                margin: 24px 30px 0 30px;
            }
            //// aici a selectat prima imagine di
            >img {
                margin: 24px 0;
            }
            p {
                @include p;
                max-width: 700px;
                margin: 0 30px;
                padding-bottom: 25px;
            }
            #prezGenBtn {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 15px 0 50px 0 ;
                button {
                    @include buttonStd;
                    @include flexCenterRowCenter(row);
                    img {
                        padding-right: 10px;
                    }
                }
                button:hover {
                background: rgba(0,0,0,0.1);
                color: #fff;
                border: 2px solid #05668D;
                }
                #locationButton {
                     width: 125px;
                }
            }
        }
///////////////////////////////////////////////////////
///////////  SECTION beneficiiX3 /////////////
        #beneficiiX3 {
            margin-bottom: 50px;
            .beneficii {
                height: 350px;
                background: rgba(2, 128, 144, 1);
                margin: 30px 0;
                @include flexCenterRowCenter(column);
                img {
                    max-width:66px;
                    max-height: 66px;
                    @include padding30margin0;
                }
                h1 {
                    width: 300px;
                    @include textCategori;
                    @include padding30margin0;
                }
                p {
                    padding: 30px 0 0 0;
                    width: 300px;
                    @include textNormal;
                    @include padding30margin0;
                }
            }
        }
///////////////////////////////////////////////////////
///////////  SECTION RelaxeazăTe /////////////
        #RelaxeazăTe {
            height: auto;
            color: rgba(5, 102, 141, 1);
            margin-bottom: 50px;
            background: #EEEEEE;
            h2 {
                @include h2TS;
                color: rgba(5, 102, 141, 1);
                @include paddingT20Margin0;
                }
            h1 {
                @include h1T; 
                color: rgba(5, 102, 141, 1);
                padding: 0 20px;
            }
            p {
                @include pRelax;
                max-width: 700px;
                padding: 20px 30px 0 30px; 
            }
            button {
                @include buttonStd;
                width: 155px;
                display: block;
                margin: 0 auto 20px auto;
            }
            button:hover {
                background-color: #fff;
                color: #05668D;
                border: 2px solid #05668D;
            }
            iframe {
                width: 100%;
                margin-top: 55px;
                aspect-ratio: 16 / 9;

            }
        }
///////////////////////////////////////////
///////////  SECTION alegeCam /////////////
        #alegeCam {
            height: auto;
            width: 100%;
            background: rgba(2, 128, 144, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;

            h2 {
                @include h2TS;
                @include padding30margin0;
                color: #F0F3BD;
            }

            >img {
                margin-top: 20px;
            }

            .camGallery {
                width: 100%;
                h1{
                    @include textCategori;
                    @include padding30margin0;
                }
                p{
                    @include h2TS;
                    @include padding30margin0;
                    color: #F0F3BD;
                }
                .camParGall {
                    background: no-repeat center/cover url('/img/camPar1-4.png'); 
                    height: 510px;
                    margin: 30px 20px 0 20px;
                    figure {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 250px;
                        margin: 0px 10px;
                    }
                }
                .gall3img {
                        margin: 0 20px;
                        display: flex;
                        justify-content: space-between;
                    figure {
                        background: no-repeat center/cover url('/img/camPar2-4.png');    
                        height: auto;
                        aspect-ratio: 16/9;
                        width: 100%;
                        margin: 10px 5px 10px 5px;
                    }
                    figure:nth-child(2) {
                        background: no-repeat center/cover url('/img/camPar3-4.png');
                    }
                    figure:nth-child(3) {
                        background: no-repeat center/cover url('/img/camPar4-4.png');
                    }
                    figure:first-child {
                        margin-left: 0px;
                    }
                    figure:last-child {
                        margin-right: 0px;
                    }

                }
            } 
            .camGallery1 {
                margin-top: 50px;
                .camParGall {
                    background:no-repeat center/cover url('/img/camAp1-5.png') ;
                }
                .gall3img {
                    figure {
                        background:no-repeat center/cover url('/img/camAp2-5.png');
                    }
                    figure:nth-child(2) {
                        background:no-repeat center/cover url('/img/camAp3-5.png');
                    }
                    figure:nth-child(3) {
                        background:no-repeat center/cover url('/img/camAp4-5.png');
                    }
                    figure:nth-child(4) {
                        background:no-repeat center/cover url('/img/camAp5-5.png');
                    }  
                }
            }
            .camGallery2 {
                margin-top: 50px;
                .camParGall {
                    background:no-repeat center/cover url('/img/Ext1-5.jpg') ;
                }
                .gall3img {
                    figure {
                        background:no-repeat center/cover url('/img/Ext2-5.png');
                    }
                    figure:nth-child(2) {
                        background:no-repeat center/cover url('/img/Ext3-5.png');
                    }
                    figure:nth-child(3) {
                        background:no-repeat center/cover url('/img/Ex4-5.png');
                    }
                    figure:nth-child(4) {
                        background:no-repeat center/cover url('/img/Ex5-5.png');
                    }  
                    figure:nth-child(5) {
                        background:no-repeat center/cover url('/img/Ex6-5.png');
                    } 
                    }
                }
        }
 ///////////////////////////////////////////
///////////  SECTION servicii /////////////
        #servicii {
            background: rgba(238, 238, 238, 1);
            margin-bottom: 50px;
            #servicii-hd {
                width: 100%;
                margin: auto;
                h5 {
                    @include h2TS;
                    color:rgba(5, 102, 141, 1);
                    margin: 50px 0 15px 0;
                }
                img {
                    display: block;
                    margin: auto;
                }
                h1 {
                    @include textCategori;
                    color:rgba(5, 102, 141, 1);
                    margin: 30px 30px;
                }
                p {
                    @include textNormal;
                    color:rgba(5, 102, 141, 1);
                    margin: 0 30px 50px 30px;
                }
            }
            .servicii-container {
                height: auto;
                margin: 0 30px 50px 30px;
                img {
                    display: block;
                    margin:auto;
                }
                h1 {
                    @include textCategori;
                    margin: 25px auto;
                    color:rgba(5, 102, 141, 1);
                }
                p {
                    @include textNormal;
                    color:rgba(5, 102, 141, 1);
                }
            }
            .servicii-container:last-child {
                height: 300px;
                padding-bottom: 50px;
                margin-bottom: 0px;
            }
        }
///////////////////////////////////////////
///////////  SECTION atracti /////////////
        #atracti {
            .container_atractii {
                margin: 0 auto 50px auto;
                .img_atracti_container {
                    background: no-repeat center/cover url('/img/atracti_acasa.png');
                    height: 500px;
                    max-width: 1024px;
                }
                .prieteni {
                    background: no-repeat center/cover url('/img/atracti_prieteni.png');
                }
                .salina {
                    background: no-repeat center/cover url('/img/atracti_salina.png');
                } 
                div {
                    height: auto;
                    background: #EEEEEE;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 50px;
                    h1 {
                        padding-top: 40px;
                        margin: 0 auto;
                        @include textCategori;
                        color: rgba(5, 102, 141, 1);
                    }
                    img {
                        margin: 20px 0;
                    }
                    p {
                        margin: 0 30px;
                        @include grup_text;
                        color: rgba(5, 102, 141, 1);
                    }
                    button { 
                        @include buttonStd;
                        width: 173px;
                        height: 43px;
                        color: rgba(5, 102, 141, 1);
                        border: 2px solid #05668D;
                        background: #EEEEEE;
                        margin: 50px;
                    }
                    button:hover {
                        background: rgba(5, 102, 141, 1);
                        color: #EEEEEE;
                    }
                }
                
            }
            .container_atractii:last-child {
                margin: 0;
                }
        } 
///////////////////////////////////////////
///////////  SECTION reviewCount /////////////
        #reviewCount {
            height: 100%;
            // background: rgba(238, 238, 238, 1);
            margin: 0;
            padding-top: 50px;
            margin-bottom: 50px;
            >:first-child {
                background: rgba(238, 238, 238, 1);
                padding-bottom: 30px;
            }
            .reviewCount_container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h1 { 
                font-family: 'Monotype Corsiva';
                font-style: italic;
                font-weight: 400;
                font-size: 96px;
                line-height: 108px;
                color: #05668D;
                margin: 20px 0 0 0;
            }
            p {
                @include grup_text;
                color: #05668D;
                margin: 0;
            }
            .camGallery {
                margin: 100px 0 ;
                h1{
                    @include h1T;
                    color: rgba(5, 102, 141, 1);
                }
                .camParGall {
                    background: no-repeat center/cover url('/img/gall_1_5.png'); 
                    height: 510px;
                    margin: 30px 10px 0 10px;
                    figure {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 250px;
                        margin: 0px 10px;
                    }
                }
                .gall3img {
                        margin: 0 5px;
                        display: flex;
                        justify-content: space-between;
                    figure {
                            background: no-repeat center/cover url('/img/gall_2_5.png');                          
                            height: auto;
                            aspect-ratio: 16/9;
                            width: 100%;
                            margin: 10px 5px 10px 5px;
                    }
                    figure:nth-child(2) {
                        background: no-repeat center/cover url('/img/gall_3_5.png')
                    }
                    figure:nth-child(3) {
                        background: no-repeat center/cover url('/img/gall_4_5.png')
                    }
                    figure:nth-child(4) {
                        background: no-repeat center/cover url('/img/gall_5_5.png')
                    }
                    figure:nth-child(5) {
                        background: no-repeat center/cover url('/img/gall_6_5.png')
                    }
                }
            } 
        }
///////////////////////////////////////////
///////////  SECTION ceSpunClienti ///////
        #ceSpunClienti {
            .header-title {
                margin-top: 50px;
            }
            #booking_group,#google_group {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .google_review {
                max-width: 350px;
                min-height: 210px;
                height: auto;
                margin: 70px auto 0 auto;
                background: rgb(2, 128, 144);
                border-radius: 4px;
                padding: 10px;
                .test_1_3 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    >img {
                        max-width: 40px;
                        margin: 15px 10px auto 10px;
                    }
                    .nume_client_data {
                        margin-right: 100px;
                        h1 {
                            @include  h2TS;
                            white-space: nowrap;
                        }
                        h2 {
                            @include textNormalComent;
                            margin-top: 0;
                        }
                    }
                }
                .google_review img:nth-child(3) {
                        margin:0 0 auto auto;
                }
                p {
                    @include textNormalComent;
                }  
            }
            .google_review:nth-child(n + 2) {
                display: none;
            }
            .bulina_review_selected {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                .bulina {
                    width: 10px;
                    height: 10px;
                    border-radius:100%;
                    margin: 5px;
                    background-color: rgba(5, 102, 141, 1);
                }
                .bulina:hover {
                    width: 15px;
                    height: 15px;
                }
            }
             #booking_group .google_review :nth-child(3) {
                 padding-bottom: 3px;
             }
             #booking_group .google_review :nth-child(2) {
                 padding-left: 10px;
             }
             #booking_group .google_review .test_1_3 >img {
                border-radius: 100%;
             }
        }
///////////////////////////////////////////
///////////  SECTION contactează-ne///////
        #contactează-ne {
            margin-top: 100px;
            .header-title {
            background: no-repeat center/cover url('/img/background_ce_spun_clienti.png');
            }
            .contact_container {
                height: auto;
                background: #028090;
                display: flex;
                flex-direction: column;
                div {
                    padding: 40px 0;
                    margin: auto;
                    max-height: 280px;
                    img {
                        margin: auto;
                        display: block;
                    }
                    h2 {
                        @include textCategori;
                    }
                    p {
                        @include h2TS;
                        font-size: 15px;
                        color: #F0F3BD;
                        word-break: break-all;
                    }
                }
            }
        }
///////////////////////////////////////////
///////////  SECTION map_question///////        
        #map_question {
            margin-top: 50px;
            h1 {
                @include h1T;
                color: rgba(5, 102, 141, 1);
            }
            h2 {
                @include h2TS;
                color: rgba(5, 102, 141, 1);
            }
            #map_question_details {
                margin-top: 50px;
                details {
                    margin: 0 30px;
                    height: auto; 
                    border-bottom:3px solid #05668D;
                    summary {
                        @include textNormal;
                        color: #05668D;
                        text-align: left;
                        //line-height: 42px;
                        padding: 5px 0;
                    }                       
                    p {
                        width: auto;
                        margin: auto;
                        @include textNormal;
                        text-align: left;
                        color: #05668D;
                    }
                } 
                details[open] {
                margin-top: 15px;
                height: auto;
                    p {
                        line-height: normal;
                        padding: 10px 0 10px 25px;
                    }
                }
        }
        iframe {
            width: 90%; 
            height: auto;
            margin: auto;
            display: block;
            border: 0;
            aspect-ratio: 1/1;
        }
        } 
///////////////////////////////////
///////////  SECTION footer /////// 
        footer {
            margin-top: 50px;
            height: auto;
            width: 100%;
            background-image: url("/img/backgroundImg.png");
            @include backgroundImg;
            box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
            #container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .listLinkLogofooter {
                    display:flex;
                    flex-direction: column;
                    a { 
                        margin: 10px;
                        width: 43px;
                        height: 43px;
                    }
                    img {
                        max-width: 43px;
                        height: auto;
                    }
                }
                #footer_text {
                    display: none;
                } 
             }    
            h4 {
                @include grup_text;
                margin: 0;
                color: #fff;
            }
        }
    }        
}
///////////////////////////////////
///////////  min-width: 767px /////// 
@media screen and (min-width: 767px) {
    body {
        .header-title h1 {
            @include housegardenT_768px;
        }
        header {
            height: 177px;
            .hd_container {
                justify-content: space-around;
                figure {
                    margin: 0;
                    img {
                        max-height: 150px;
                    }
                } 
                >div {
                    display: block;
                    h2 {
                        white-space: nowrap;
                        font-size: 5vw;
                    }
                    h3 {
                        font-size: 4vw;
                    }
                }  
                
                .listLinkLogo {
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    a {
                        margin: 0 20px 0 0; 
                    }
                }
                // multiple selection
                h2, h3 {
                    @include h2Title;
                    margin: 0;
                    line-height: normal;
                }
            }
        }
        #prezentareGenerala_1 {
            h2 {
                width: 600px;
                padding-top: 65px;
            }
            h1 {
                @include housegardenT_768px;
            }
            br {
                display: none;
            }
            p {
                @include textnormal_768;
            }
        }
        #ceSpunClienti { 
            .google_review:nth-child(2) {
                display: block;
            }
            .bulina_review_selected {
                display: none;
            }
        }
        #beneficiiX3 {
            display: flex;
            justify-content: space-between;
            .beneficii {
                height: auto;
                margin: 30px 40px 100px 40px;
                h1 {
                    width: auto;
                    padding: 30px 20px 0 20px;
                }
                p{
                    width: auto;
                    padding: 30px 30px 50px 30px;
                    @include textnormal_768;
                }
            }
        }
        #RelaxeazăTe { 
            /// flex container
            >div {
                display: flex;
            }
            ///img div 
            div>div:first-child {
                width: 100%;
                background: no-repeat center/cover url('/img/backgroundImg.png'); 
            }
            div>div:last-child {
                width: 100%;   
            }
        }
        #alegeCam {
            h2 {
                font-size: 40px;
                padding-bottom: 20px;
            }

        }
        #servicii {
            padding-bottom: 50px;
            #big_servicii_containe {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .servicii-container {
                    width: 350px;
                    p {
                        @include textnormal_768;
                    }
                }
            }
            #servicii-hd {
                display: flex;
                align-items: center;
                >:first-child {
                    width: 100%;
                    margin: 100px 50px 100px 100px;
                    h5 {
                        margin-top: 0;
                    }
                    h1 {
                        margin: 0;
                    }
                    img {
                        display: none;
                    }
                }
                >:last-child {
                    width: 100%;
                    margin: 100px 100px 100px 50px;
                    p {
                        @include textnormal_768;
                        margin:0;
                    }
                }

            }

        }
        #atracti {
            .container_atractii {
                display: flex;
                flex-direction: row;
                div {
                    width:100%;
                    button {
                        margin: 45px auto 0px auto;
                    }
                }
            }

        }
        #reviewCount {
            >:first-child {
                background: rgba(238, 238, 238, 1);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
        #contactează-ne {
            .contact_container {
                flex-direction: row;
                margin: 50px 15px;
                border-radius: 100px;
                div {
                    width: 204px;
                    height: auto;
                }
            }

        }
        #map_question {
            display: flex;
            >:first-child {
                width: 100%;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                #map_question_details {
                    summary , p {
                    @include textnormal_768;
                    text-align: left;
                    }
                }
            }
            iframe {
                width: 100%;
            }
        }
        footer {
            #container {
                align-items: center;
                .listLinkLogofooter {
                    flex-direction: row;
                }
                #footer_text {
                    display: block;
                     h2, h3 {
                    @include h2Title;
                    font-size:  5vw;
                    margin: 0;
                    line-height: normal;
                    }
                }
                img {
                    margin-top: 10px;
                }
            }
        }
    }
}
///////////////////////////////////
///////////  min-width: 1024px /////// 
@media screen and (min-width: 1024px) {
    body {
        .hd_container {
            @include maxW1024pxMarginA;
        }
        #beneficiiX3 {
            @include maxW1024pxMarginA;
            .beneficii {
                width: 60%;
            }       
        }
        #RelaxeazăTe {
            >div {
                @include maxW1024pxMarginA;
            }
            iframe {
                @include maxW1024pxMarginA;
                display: block;
            }
        }
        #alegeCam {
            .camGallery {
                @include maxW1024pxMarginA;
                margin-bottom: 100px;
            }
        }
        #servicii {
            #big_servicii_containe,#servicii-hd {
                @include maxW1024pxMarginA;
            }
        }
        #atracti {
            @include maxW1024pxMarginA;
            .img_atracti_container {
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
            }
            .container_atractii {
                margin-bottom: 100px;
                div:last-child {
                    border-top-right-radius: 10%;
                    border-bottom-right-radius: 10%;
                }
            }    
        }
        #reviewCount {
            @include maxW1024pxMarginA;    
        }   
        #contactează-ne .contact_container {
            @include maxW1024pxMarginA;
        }
        #map_question {
            @include maxW1024pxMarginA
        }
        footer {
            #container {
                @include maxW1024pxMarginA;;
            }
            #footer_text {
                h2 {
                    font-size: 55px !important;
                }
                h3 {
                   font-size: 55px !important; 
                }
           } 
        }
    }
}
///////////////////////////////////
///////////  min-width: 1368px /////// 
@media screen and (min-width: 1368px) {
    body {
        header .hd_container {
            h2 {
                font-size: 65px !important;
            }
            h3 {
                font-size: 55px !important;
            }
            .listLinkLogo a {
                margin: 0 15px 0 15px !important;
            }
            
            
        } 
        .google_review:nth-child(3) {
                display: block !important;
        }
        #booking_group,#google_group {
            width: 1368px;
            margin-right: auto;
            margin-left: auto;
            
        }    

    }
}