@import "./mixin.scss";


@media screen and (min-width: 0px){
    body {
        //background-color: black;
        // css hedear section
            header{
                width: 100%;
                background-image: url("/img/backgroundImg.png");
                @include backgroundImg;
                margin: 0;
                box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
                max-height: 255px;

                #hd_container {
                    display:flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    figure { 
                        
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                #listLinkLogo {
                    position: absolute;
                    padding: 15px 0 0 280px;
                    a {
                    display:flex;
                    flex-direction: column;
                    margin-bottom:25px;
                    }
                    img {
                    max-width: 43px;
                    height: auto;
                    }
                }
            }
            // css section prezentareGenerala_1
            #prezentareGenerala_1 {
                width: 100%;
                height: 1063.78px;
                background-image: url("/img/backgroundImg.png");
                @include backgroundImg;
                margin: 0;
                box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
                align-items: center;
                display: flex;
                flex-direction: column;
                h2 {
                    @include h2TS;
                    margin: 0;
                    padding-top: 100px;
                }
                h1 {
                    @include h1T;
                    width: 300px;
                    margin:0;
                    padding-top: 25px;
                }
                //// aici a selectat prima imagine di
                >img {
                    margin: 24px 0 24px 0;
                }
                p {
                    @include p;
                    width: 300px;
                    margin: 0;
                    padding-bottom: 25px;
                }
 
                #prezGenBtn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 15px;

                    button {
                        @include buttonStd;
                        @include flexCenterRowCenter(row);
                        img {
                            padding-right: 10px;
                        }
                    }
                    #locationButton {
                            width: 125px;
                        }
                }
            }
            //css section beneficiiX3
            #beneficiiX3 {
                .beneficii {
                    height: 350px;
                    background: rgba(2, 128, 144, 1);
                    margin-top: 30px;
                    @include flexCenterRowCenter(column);
                    img {
                        max-width:66px;
                        max-height: 66px;
                        @include padding30margin0;
                    }
                    h1 {
                        width: 300px;
                        @include textCategori;
                        @include padding30margin0;
                    }
                    p {
                        padding: 30px 0 0 0;
                        width: 300px;
                        @include textNormal;
                        @include padding30margin0;
                    }
                }
            }
            //  section RelaxeazăTe 
            #RelaxeazăTe {
                @include flexCenterRowCenter(column);
                height: 837px;
                color: rgba(5, 102, 141, 1);
                h2 {
                    @include h2TS;
                    color: rgba(5, 102, 141, 1);
                    @include paddingT20Margin0;
                 }
                h1 {
                    @include h1T; 
                    color: rgba(5, 102, 141, 1);
                    @include paddingT20Margin0;
                }
                p {
                    @include pRelax;
                    width: 350px;
                    @include paddingT20Margin0;
                }
                button {
                    @include buttonStd;
                    width: 155px;
                    margin-top: 20px;
                }
                iframe {
                    height: 225px;
                    width: 100%;
                    margin-top: 55px;

                }
        
            }
        }
}

@media screen and (min-width: 390px){
    body{
        background-color:green;
    }
    
}
 