@charset "UTF-8";
@media screen and (min-width: 0px) {
  body .header-title {
    height: 300px;
    background: no-repeat center/cover url("/img/backgServicii.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .header-title h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    color: #F0F3BD;
  }
  body footer {
    width: 100%;
    background-image: url("/img/backgroundImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
    height: 255px;
  }
  body header {
    background-image: url("/img/backgroundImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 2000px rgba(5, 102, 141, 0.8);
  }
  body header .hd_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .hd_container h2, body header .hd_container h3 {
    display: none;
  }
  body header .hd_container figure {
    margin: 0;
    width: 221px;
    padding: 15px;
  }
  body header .hd_container figure img {
    width: 100%;
    height: auto;
  }
  body header .listLinkLogo {
    display: flex;
    flex-direction: column;
  }
  body header .listLinkLogo a {
    margin: 10px;
  }
  body header .listLinkLogo img {
    min-width: 30px;
    max-width: 43px;
    height: auto;
    width: 100%;
  }
  body #prezentareGenerala_1 {
    width: 100%;
    height: 1063.78px;
    background-image: url("/img/backgroundImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body #prezentareGenerala_1 h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 100px;
  }
  body #prezentareGenerala_1 h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    width: 300px;
    margin: 0;
    padding-top: 25px;
  }
  body #prezentareGenerala_1 > img {
    margin: 24px 0 24px 0;
  }
  body #prezentareGenerala_1 p {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 300px;
    margin: 0;
    padding-bottom: 25px;
  }
  body #prezentareGenerala_1 #prezGenBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  body #prezentareGenerala_1 #prezGenBtn button {
    background-color: #05668D;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    color: #F0F3BD;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  body #prezentareGenerala_1 #prezGenBtn button img {
    padding-right: 10px;
  }
  body #prezentareGenerala_1 #prezGenBtn button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 2px solid #05668D;
  }
  body #prezentareGenerala_1 #prezGenBtn #locationButton {
    width: 125px;
  }
  body #beneficiiX3 .beneficii {
    height: 350px;
    background: rgb(2, 128, 144);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  body #beneficiiX3 .beneficii img {
    max-width: 66px;
    max-height: 66px;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #beneficiiX3 .beneficii h1 {
    width: 300px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #beneficiiX3 .beneficii p {
    padding: 30px 0 0 0;
    width: 300px;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #RelaxeazăTe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 837px;
    color: rgb(5, 102, 141);
  }
  body #RelaxeazăTe h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
    margin: 0;
    padding-top: 20px;
  }
  body #RelaxeazăTe h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
    margin: 0;
    padding-top: 20px;
  }
  body #RelaxeazăTe p {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgb(5, 102, 141);
    width: 350px;
    margin: 0;
    padding-top: 20px;
  }
  body #RelaxeazăTe button {
    background-color: #05668D;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    color: #F0F3BD;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 155px;
    margin-top: 20px;
  }
  body #RelaxeazăTe button:hover {
    background-color: #fff;
    color: #05668D;
    border: 2px solid #05668D;
  }
  body #RelaxeazăTe iframe {
    height: 225px;
    width: 100%;
    margin-top: 55px;
  }
  body #alegeCam {
    height: 2500px;
    width: 100%;
    background: rgb(2, 128, 144);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #alegeCam h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3em;
    color: #F0F3BD;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #alegeCam > img {
    margin-top: 20px;
  }
  body #alegeCam .camGallery h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #alegeCam .camGallery p {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    padding: 30px 0 0 0;
    margin: 0;
  }
  body #alegeCam .camGallery .camParGall {
    background: no-repeat center/cover url("/img/camPar1-4.png");
    height: 510px;
    margin: 30px 10px 0 10px;
  }
  body #alegeCam .camGallery .camParGall figure {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    margin: 0px 10px;
  }
  body #alegeCam .camGallery .gall3img {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  body #alegeCam .camGallery .gall3img figure {
    background: no-repeat center/cover url("/img/camPar2-4.png");
    height: 50px;
    width: 100%;
    margin: 10px 5px 10px 5px;
  }
  body #alegeCam .camGallery .gall3img figure:nth-child(2) {
    background: url("/img/camPar3-4.png");
  }
  body #alegeCam .camGallery .gall3img figure:nth-child(3) {
    background: url("/img/camPar4-4.png");
  }
  body #alegeCam .camGallery1 {
    margin-top: 50px;
  }
  body #alegeCam .camGallery1 .camParGall {
    background: no-repeat center/cover url("/img/camAp1-5.png");
  }
  body #alegeCam .camGallery1 .gall3img figure {
    background: no-repeat center/cover url("/img/camAp2-5.png");
    height: 38px;
  }
  body #alegeCam .camGallery1 .gall3img figure:nth-child(2) {
    background: no-repeat center/cover url("/img/camAp3-5.png");
  }
  body #alegeCam .camGallery1 .gall3img figure:nth-child(3) {
    background: no-repeat center/cover url("/img/camAp4-5.png");
  }
  body #alegeCam .camGallery1 .gall3img figure:nth-child(4) {
    background: no-repeat center/cover url("/img/camAp5-5.png");
  }
  body #alegeCam .camGallery2 {
    margin-top: 50px;
  }
  body #alegeCam .camGallery2 .camParGall {
    background: no-repeat center/cover url("/img/Ext1-5.jpg");
  }
  body #alegeCam .camGallery2 .gall3img figure {
    background: no-repeat center/cover url("/img/Ext2-5.png");
    height: 38px;
  }
  body #alegeCam .camGallery2 .gall3img figure:nth-child(2) {
    background: no-repeat center/cover url("/img/Ext3-5.png");
  }
  body #alegeCam .camGallery2 .gall3img figure:nth-child(3) {
    background: no-repeat center/cover url("/img/Ex4-5.png");
  }
  body #alegeCam .camGallery2 .gall3img figure:nth-child(4) {
    background: no-repeat center/cover url("/img/Ex5-5.png");
  }
  body #alegeCam .camGallery2 .gall3img figure:nth-child(5) {
    background: no-repeat center/cover url("/img/Ex6-5.png");
  }
  body #servicii {
    background: rgb(238, 238, 238);
  }
  body #servicii #servicii-hd {
    width: 350px;
    margin: auto;
  }
  body #servicii #servicii-hd h5 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
    margin: 50px 0 15px 0;
  }
  body #servicii #servicii-hd > img {
    margin: 0px;
  }
  body #servicii #servicii-hd h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
    color: rgb(5, 102, 141);
    margin: 15px 10px 30px 10px;
  }
  body #servicii #servicii-hd p {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    color: rgb(5, 102, 141);
    margin: 0 10px 50px 10px;
  }
  body #servicii .servicii-container {
    width: 330px;
    height: 250px;
    margin: 0 auto 50px auto;
  }
  body #servicii .servicii-container img {
    display: block;
    margin: auto;
  }
  body #servicii .servicii-container h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
    margin: 25px auto;
    color: rgb(5, 102, 141);
  }
  body #servicii .servicii-container p {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    color: rgb(5, 102, 141);
  }
  body #servicii .servicii-container:last-child {
    height: 300px;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }
  body #atracti .container_atractii {
    margin: 0 auto 50px auto;
  }
  body #atracti .container_atractii .img_atracti_container {
    background: no-repeat center/cover url("/img/atracti_acasa.png");
    height: 500px;
    max-width: 390px;
  }
  body #atracti .container_atractii .prieteni {
    background: no-repeat center/cover url("/img/atracti_prieteni.png");
  }
  body #atracti .container_atractii .salina {
    background: no-repeat center/cover url("/img/atracti_salina.png");
  }
  body #atracti .container_atractii div {
    height: 513px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #atracti .container_atractii div h1 {
    padding-top: 40px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
    color: rgb(5, 102, 141);
  }
  body #atracti .container_atractii div img {
    margin: 20px 0;
  }
  body #atracti .container_atractii div p {
    width: 310px;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgb(5, 102, 141);
  }
  body #atracti .container_atractii div button {
    background-color: #05668D;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    color: #F0F3BD;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 173px;
    height: 43px;
    color: rgb(5, 102, 141);
    border: 2px solid #05668D;
    background: #EEEEEE;
  }
  body #atracti .container_atractii div button:hover {
    background: rgb(5, 102, 141);
    color: #EEEEEE;
  }
  body #atracti .container_atractii:last-child {
    margin: 0;
  }
  body #reviewCount {
    height: 1250px;
    background: rgb(238, 238, 238);
    margin: 0;
    padding-top: 50px;
  }
  body #reviewCount .reviewCount_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #reviewCount h1 {
    font-family: "Monotype Corsiva";
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 108px;
    color: #05668D;
    margin: 20px 0 0 0;
  }
  body #reviewCount p {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #05668D;
    margin: 0;
  }
  body #reviewCount .camGallery {
    margin: 100px 0;
  }
  body #reviewCount .camGallery h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
  }
  body #reviewCount .camGallery .camParGall {
    background: no-repeat center/cover url("/img/gall_1_5.png");
    height: 510px;
    margin: 30px 10px 0 10px;
  }
  body #reviewCount .camGallery .camParGall figure {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    margin: 0px 10px;
  }
  body #reviewCount .camGallery .gall3img {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  body #reviewCount .camGallery .gall3img figure {
    background: no-repeat center/cover url("/img/gall_2_5.png");
    height: 35px;
    width: 100%;
    margin: 10px 5px 10px 5px;
  }
  body #reviewCount .camGallery .gall3img figure:nth-child(2) {
    background: no-repeat center/cover url("/img/gall_3_5.png");
  }
  body #reviewCount .camGallery .gall3img figure:nth-child(3) {
    background: no-repeat center/cover url("/img/gall_4_5.png");
  }
  body #reviewCount .camGallery .gall3img figure:nth-child(4) {
    background: no-repeat center/cover url("/img/gall_5_5.png");
  }
  body #reviewCount .camGallery .gall3img figure:nth-child(5) {
    background: no-repeat center/cover url("/img/gall_6_5.png");
  }
  body #ceSpunClienti .header-title {
    margin-top: 50px;
  }
  body #ceSpunClienti .booking_review {
    max-width: 350px;
    height: 200px;
    margin: 70px auto 0 auto;
    background: rgb(2, 128, 144);
    border-radius: 4px;
  }
  body #ceSpunClienti .test img:nth-child(1) {
    grid-area: logoInitial;
    width: auto;
    margin: auto;
  }
  body #ceSpunClienti .test h1 {
    grid-area: cliName;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-align: left;
    width: auto;
    margin: auto auto 0 0;
  }
  body #ceSpunClienti .test h2 {
    grid-area: date;
    margin: 0;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #fff;
    text-align: left;
  }
  body #ceSpunClienti .test img:nth-child(4) {
    grid-area: logoBooking;
    width: auto;
    margin: 0 0 auto auto;
  }
  body #ceSpunClienti .test img:nth-child(5) {
    grid-area: nota;
    width: auto;
    margin: auto 0 auto auto;
  }
  body #ceSpunClienti .test img:nth-child(6) {
    grid-area: verifide;
    width: auto;
    margin: auto auto auto 0;
  }
  body #ceSpunClienti .test p {
    grid-area: coments;
    margin: 0;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #fff;
  }
  body #ceSpunClienti .test {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    grid-template-areas: "logoInitial cliName cliName cliName logoBooking" "logoInitial date date date logoBooking" "nota verifide verifide verifide verifide" "coments coments coments coments coments" "coments coments coments coments coments" "coments coments coments coments coments" "coments coments coments coments coments" "coments coments coments coments coments" "coments coments coments coments coments";
  }
  body #ceSpunClienti .bulina_review_selected {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  body #ceSpunClienti .bulina_review_selected .bulina {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 5px;
    background-color: rgb(5, 102, 141);
  }
  body #ceSpunClienti .bulina_review_selected .bulina:hover {
    width: 15px;
    height: 15px;
  }
  body #contactează-ne {
    margin-top: 100px;
  }
  body #contactează-ne .header-title {
    background: no-repeat center/cover url("/img/background_ce_spun_clienti.png");
  }
  body #contactează-ne .contact_container {
    height: 900px;
    background: #028090;
    display: flex;
    flex-direction: column;
  }
  body #contactează-ne .contact_container div {
    padding-top: 40px;
    margin: auto;
    max-height: 280px;
  }
  body #contactează-ne .contact_container div img {
    margin: auto;
    display: block;
  }
  body #contactează-ne .contact_container div h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #F0F3BD;
  }
  body #contactează-ne .contact_container div p {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    color: #F0F3BD;
  }
  body #map_question {
    margin-top: 50px;
  }
  body #map_question h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
  }
  body #map_question h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    color: rgb(5, 102, 141);
  }
  body #map_question #map_question_details {
    margin-top: 50px;
  }
  body #map_question #map_question_details details {
    width: 350px;
    margin: auto;
    height: 42px;
    border-bottom: 3px solid #05668D;
  }
  body #map_question #map_question_details details summary {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    color: #05668D;
    text-align: left;
    line-height: 42px;
  }
  body #map_question #map_question_details details p {
    width: 300px;
    margin: auto;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-align: left;
    color: #05668D;
  }
  body #map_question #map_question_details details[open] {
    margin-top: 15px;
    height: 110px;
  }
  body #map_question #map_question_details details[open] p {
    line-height: normal;
  }
  body #map_question iframe {
    width: 370px;
    height: 522px;
  }
  body footer {
    margin-top: 50px;
    height: 255px;
  }
  body footer .listLinkLogofooter {
    margin: 25px auto auto 15px;
    padding: 0;
  }
  body footer .listLinkLogofooter a {
    width: 43px;
    height: 43px;
  }
  body footer .listLinkLogofooter a img {
    margin: 0;
    padding: 0;
  }
  body footer img {
    display: block;
    width: 247px;
    margin: auto 40px auto auto;
    padding-top: 25px;
  }
  body footer h4 {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    color: #fff;
  }
}
@media screen and (min-width: 767px) {
  body header {
    height: 177px;
  }
  body header .hd_container {
    height: 177px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "logoImg  HouseGarden HouseGarden " "logoImg  Turda linkLogo  ";
  }
  body header .hd_container figure {
    grid-area: logoImg;
    margin: 0;
  }
  body header .hd_container figure img {
    max-height: 150px;
  }
  body header .hd_container h2 {
    white-space: nowrap;
    grid-area: HouseGarden;
  }
  body header .hd_container h3 {
    grid-area: Turda;
  }
  body header .hd_container .listLinkLogo {
    position: relative;
    grid-area: linkLogo;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  body header .hd_container .listLinkLogo a {
    margin: 0 20px 0 0;
  }
  body header .hd_container h2, body header .hd_container h3 {
    display: grid;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    line-height: 82px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    line-height: normal;
  }
  #prezentareGenerala_1 h2 {
    width: 600px;
    padding-top: 65px;
  }
  #prezentareGenerala_1 br {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */